.container-quiz{
  background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/tela-cerrado.png);
}

.curiosidadesContainer{
  background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/q1-cerrado.svg);
  position: relative;
    top: -657px;
}

.quiz-content{
  background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/q2-cerrado.svg);
}

.inner-next-content{
  background-color: #F0B323;
}

.alternativas-item:hover{
  background-color: #F0B323;
  color: #FFF;
  border: 2px solid #F0B323;
}

.carousel-indicators .active{
  background-color: #F0B323;
}