.container-quiz{
    background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/tela-pantanal.png);
}

.curiosidadesContainer{
  background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/q1-pantanal.svg);
}

.quiz-content{
  background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/q2-pantanal.svg);
}

.inner-next-content{
  background-color: #afbc30;
}

.alternativas-item:hover{
  background-color: #afbc30;
  color: #FFF;
  border: 2px solid #afbc30;
}

.carousel-indicators .active{
  background-color: #afbc30;
}

