.menuContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.escolhaTexto{
  width: 45%;
  margin-top: 70px;
}

.cards-biomas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  gap: 15px;
  margin-left: 100px;
}

.cards-biomas > div{
  width: 130px;
  cursor: pointer;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
0% { transform: translate(-0,  0px); }
50%  { transform: translate(0px, 5px); }
100%   { transform: translate(-0, 0px); }  
}

#cardAmazonia {
  animation-delay: 0s;
}

#cardPantanal {
  animation-delay: 0.5s;
}

#cardCerrado {
  animation-delay: 1s;
}

#cardCaatinga {
  animation-delay: 1.5s;
}

#cardMata {
  animation-delay: 2s;
}

#cardPampas {
  animation-delay: 2.5s;
}


.eachCard > span{
  position: relative;
  bottom: 40px;
  left: 80px;
  color: #FFF;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
}

#fecharModalParabens{
  left: 250px;
}
#fecharModalParabens > img{
  width: 50px;
}

.status-img{
  display: flex;
  align-items: center;
  width: 800px;
}

#fecharModalStatus{
  top: 10px;
  left: 490px;
}

.qtde-perguntas-status, .qtde-cards-status{
  font-family: 'Fredoka', sans-serif;
  position: absolute;
  font-size: 50px;
  color: #FFF;
}

.botao-acessar-dicas{
  width: 32%;
  position: absolute;
  left: 275px;
  top: 292px;
  cursor: pointer;
}

.posicionamento-voce-sabia{
  position: relative;
  bottom: 390px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulo-saiba-mais > h3{
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

.conteudo-voce-sabia{
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  margin-top: 15px;
}

.conteudoVoceSabia{
  width: 75%;
}

.next-saibaMais-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 360px;
}

.nextSaibaMais-item{
  width: 25px;
  height: 25px;
  border: 1px solid #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextSaibaMais-filled{
  width: 17px;
  height: 17px;
  background-color: #FFF;
  border-radius: 50%;
}

.filled-inicio{
  width: 17px;
  height: 17px;
  background-color: transparent;
  border-radius: 50%;
}