#conteudoPrincipalQuiz{
  height: 802.5px;
}

.container-quiz{
  /* background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/tela-amaz.png); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  /* background-color: #5be0c6; */
  position: relative;
  height: 690px;
}

#teste2{
  display: flex;
  align-items: center;
  min-width: 1230px;
}

.curiosidadesContainer{
  background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/q1-amaz.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 50px;
  min-height: 480px;
  width: 750px;
  margin: 150px auto 0 auto;
}

.curiosidade-box{
  display: none;
}

.quiz-box{
  width: 85%;
}

.curiosidade-content{
  font-family: 'Montserrat', sans-serif;
  min-height: 140px;
  min-width: 620px;
}

.curiosidade-content > h3{
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
}

.curiosidade-content > p{
  font-size: 22px;
}

.quiz-content{
  width: 870px;
  height: 495px;
  font-family: 'Montserrat', sans-serif;
  background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/q2-amaz.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 75px 100px;  
}

.quiz-content > p{
  font-weight: 600;
  font-size: 19px;
  width: 80%;
  min-width: 670px;
  margin-left: 40px;
}

#quizContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px auto 0 auto;
  position: relative;
  
}

.alternativas-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: auto;
  flex-direction: row;
  max-width: 670px;
  gap: 5px 0px;
}

.alternativas-item{
  width: 300px;
  height: 140px;
  border: 3px solid #000;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  background-color: #FFF;
}

.alternativas-item:hover{
  background-color: #018043;
  color: #FFF;
  border: 2px solid #018043;
}

.texto-label{
  font-size: 16px;
}

#tituloCuriosidadeAmazonia{
  color: #014421;
}
#tituloCuriosidadeCerrado{
  color: #F0B323;
}
#tituloCuriosidadePantanal{
  color: #afbc30;
}
#tituloCuriosidadeCaatinga{
  color: #EA7C2C;
}
#tituloCuriosidadeMata{
  color: #99425f;
}
#tituloCuriosidadePampas{
  color: #7E6341;
}

.next-content-container{
  display: flex;
  gap: 15px;
  position: relative;
  bottom: 30px;
}

.next-content{
  width: 30px;
  height: 30px;
  border: 3px solid #1A1616;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-next-content{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #014421;
}

.botao-jogar{
  cursor: pointer;
  position: absolute;
  width: 220px;
}

.botaoJogar{
  position: relative;
  top: 165px;
}

.botao-responder{
  cursor: pointer;
  position: absolute;
  width: 200px;
  top: 435px;
}

.contagem-questoes{
  position: absolute;
  top: 0px;
  margin-right: 795px;
  color: black;
  width: 100px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contagem-questoes > p{
  color: #FFF;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-bottom: 0px;
}


#loading{
  display: none;
}


.loading-icon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 200px;
  left: 50px;
}

.loading-icon{
  width: 70%;
  animation: rotation 2.5s infinite linear;
}


.isHidden{
  display: none;
}

.carousel{
  bottom: 60px;
}
