#conteudoPrincipal{
  background-image: url(https://apps.univesp.br/_testes/desafio-biomas-do-brasil/assets/tela-final.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: #F5F0F0;
  height: 780px;
}

.box-btn-videos-biomas{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 117px;
}

.btn-videos-biomas{
  cursor: pointer;
  width: 15%;
}

.btn-videos-biomas > img{
  cursor: pointer;
}